plotly==5.5.0

# it's not a bad idea to add comments to your requirements file
# as of July 2022, the most recent version of plotly is actually 5.9.0!
# try updating this file with the most recent version. 
# learn more about available versions here: https://pypi.org/project/plotly/